Source: libunicode-stringprep-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0)
Build-Depends-Indep: perl (>= 5.8.8-7)
Maintainer: Claus Färber <CFAERBER@cpan.org>
Standards-Version: 3.7.2

Package: libunicode-stringprep-perl
Architecture: all
Depends: perl (>=5.8.1)
Description: preparation of internationalized strings (RFC 3454)
  This perl module implements the stringprep framework for preparing Unicode
  text strings in order to increase the likelihood that string input and
  string comparison work in ways that make sense for typical users
  throughout the world. The stringprep protocol is useful for protocol
  identifier values, company and personal names, internationalized domain
  names, and other text strings.
